<h1>Stock chaussure</h1>

<table class="table table-striped table-bordered table-sm">
  <thead class="thead-dark">
    <th>Nom</th>
    <th>Marque</th>
    <th>Type</th>
    <th>Taille</th>
    <th>Date</th>
    <th>Action</th>

  </thead>
  <tbody>
      <tr *ngFor="let shoe of this.shoes">
          <td>{{shoe.nom}}</td>
          <td>{{shoe.marque}}</td>
          <td>{{shoe.type}}</td>
          <td>{{shoe.taille}}</td>
          <td>{{shoe.dateEntreStock | date:'dd/MM/yy'}} </td>
          <td>
            <a [routerLink]="['/shoe', shoe.id]"> modifier </a>
            <a>Supprimer</a>
          </td>
      </tr>
  </tbody>
</table>
